<footer class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5>Contact</h5>
          <p>Instructor: {{ instructor }}</p>
          <p>School: ABC University</p>
          <p>Email: {{ instructorEmail }}</p>
          <p>Courses: {{ courses }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5>Consultation</h5>
          <p>Schedule: {{ schedule }}</p> <!-- Display the dynamic schedule -->
          <button class="btn btn-primary">Set Appointment</button>
        </div>
      </div>
    </div>
  </div>
</footer>

