<!-- Footer Section -->
<footer class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        
        <!-- First Container: About Us -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are a premium car rental service offering the most luxurious brands worldwide. Our mission is to provide you with an unforgettable driving experience.</p>
        </div>
  
        <!-- Second Container: Popular Cars -->
        <div class="col-md-4">
          <h5>Popular Cars</h5>
          <ul class="list-unstyled">
            <li>Rolls-Royce Phantom</li>
            <li>Ferrari 488 GTB</li>
            <li>Lamborghini Aventador</li>
            <li>Mercedes-Benz S-Class</li>
            <li>BMW 7 Series</li>
          </ul>
        </div>
  
        <!-- Third Container: Contact Us -->
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><p>Contact us at: {{ email }}</p></li>
            <li>Phone: +1 (800) 123-4567</li>
            <li>Address: 123 Luxury St, Car City, CA 90000</li>
          </ul>
        </div>
  
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  
    <!-- Bottom Row: Copyright -->
    <div class="bg-black text-center py-3">
      <p class="mb-0">&copy; 2024 Luxury Car Rentals. All rights reserved.</p>
    </div>
 
  