<div class="container mt-4">
    <h2>Edit Student</h2>
    <form>
      <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" [value]="student?.id" readonly>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="student.name">
      </div>
      <div class="mb-3">
        <label for="activity" class="form-label">Activity Type</label>
        <input type="text" class="form-control" id="activity" [(ngModel)]="student.activity">
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
  
